.inner-info {
	box-shadow: -7px -7px 4px #191922, 7px 7px 3px #0b0c0f;
	width: 46rem;

	// background-color: white;
	background-color: #10121b;
	// background-color: #10121b;
	margin-top: 14rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 0.5rem;

	@media screen and (max-width: 650px) {
		font-size: 80%;
		width: 100%;
	}

	.card-header {
		padding-top: 1.5rem;
		// background-color: white;
		background-color: #10121b;
		// background-color: #10121b;
		text-indent: 3rem;
		width: 100%;
		text-align: center;

		.college-name {
			text-decoration: none;
			color: #009688;
			font-size: 20px;
			@media screen and(max-width:650px) {
				font-size: 10px;
			}
			a {
				text-decoration: none;
				color: #009688;
				font-size: 20px;
				font-family: "Roboto",
					sans-serif;
			}
		}
		p {
			color: #8f5548;
		}
	}
	.card-body {
		// background-color: white;
		background-color: #10121b;
		// color: black;
		color: white;
		list-style-position: inside;
		text-indent: 4rem;
		margin-top: 2rem;
	}
}
