.SkillSection .skills-container .skill-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.SkillSection .skills-container .js {
  color: #f7a11fd7;
}

.SkillSection .skills-container .express {
  color: #009432;
}

.SkillSection .skills-container .node {
  color: #44bd32;
}

.SkillSection .skills-container .react {
  color: #0652dd;
}

.SkillSection .skills-container .next {
  color: #2f3640;
}

.SkillSection .skills-container .leaflet {
  color: #c4e538;
}

.SkillSection .skills-container .jquery {
  color: #718093;
}

.SkillSection .skills-container .tailwind {
  color: #079992;
}

.SkillSection .skills-container .bootstrap {
  color: #1b1464;
}

.SkillSection .skills-container .sass {
  color: #b53471;
}

.SkillSection .skills-container .html5 {
  color: #e55039;
}

.SkillSection .skills-container .css3 {
  color: #00a8ff;
}

.SkillSection .skills-container .python {
  color: #ea2027;
}

.SkillSection .skills-container .flask {
  color: maroon;
}

.SkillSection .skills-container .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SkillSection .skills-container .skill-bar .skill-progress {
  width: 100%;
  margin-left: 2rem;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress {
  width: 100%;
  height: 0.6rem;
  background-color: #dcdde1;
  margin-left: -1rem;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 9px white;
          box-shadow: 0 0 0 9px white;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress .inner-progress {
  background: #037fff;
  background-color: #b53471;
  background-color: red;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  border-radius: 5px;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #JavaScript {
  background-color: #f7a11fd7;
  color: #f7a11fd7;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Express {
  background-color: #009432;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Flask {
  background-color: maroon;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Node {
  background-color: #44bd32;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #React {
  background-color: #0652dd;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Next {
  background-color: #2f3640;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Leaflet {
  background-color: #c4e538;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Tailwind {
  background-color: #079992;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Bootstrap {
  background-color: #1b1464;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Sass {
  background-color: #b53471;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Html {
  background-color: #e55039;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Css {
  background-color: #00a8ff;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #Python {
  background-color: #ea2027;
}

.SkillSection .skills-container .skill-bar .skill-progress .progress #jquery {
  background-color: #718093;
}
/*# sourceMappingURL=skill.css.map */