.inner-container {
	background-color: #10121b;
	margin-top: 7rem;
	box-shadow: -7px -7px 4px #191922, 7px 7px 3px #0b0c0f;
	// height: 12rem;
	.skill-name {
		text-indent: 2rem;
		color: #795548;
	}
	hr {
		color: gray;
		border: none;
		border-bottom: 0.5px solid;
	}

	.different-skills {
		display: flex;
		justify-content: space-around;
		align-items: center;
		// background-color: goldenrod;
		margin-top: 2rem;
		padding-bottom: 2rem;
		img {
			width: 5rem;
			user-select: none;
		}
		@media screen and(max-width:400px) {
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}
