@import "./styles/layout";
@import "./styles/about";
@import "./styles/navbar.scss";
@import "./styles/typography.scss";
@import "./styles/title.scss";
@import "./styles/skill.scss";
@import "./styles//contact.scss";

@import "./styles//Servicess.scss";
@import "./styles/blogs.scss";
@import "./styles/portfolios.scss";
// @import "./styles//Footer-colors.scss";
@import "./styles//Skill-container.scss";
@import "./styles//Header.scss";
@import "./styles//SideBarLinksStyle.scss";
@import "./styles//Education.scss";
@import "./styles//footer.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	@media screen and(min-width:1100px) {
		box-shadow: -7px -7px 4px #191922,
			7px 7px 3px #0b0c0f;
	}
}

body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	background-color: #0056d8bd;
	border-radius: 50px;
}
body::-webkit-scrollbar-track {
	background-color: #777;
}

body {
	color: #a4acc4;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 1.2rem;
}
span {
	color: #037fff;
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 70%;
	}
}
